#mail:valid {
  background-color: greenyellow;
}

input:invalid {
  background-color: rgb(255, 163, 163);
}

input:focus:invalid {
  outline: none;
}

.invalid {
  background-color: rgb(255, 163, 163);
}

.valid {
  background-color: greenyellow;
}

.error {
  background-color: rgb(255, 163, 163);
}

.error.active {
  /* padding: 0.3rem; */
}

/* #zip {
  background-color: rgb(255, 163, 163);
} */
